/* Battle.css */
.box {
    display: flex;
    justify-content: space-between;
  }
  
  .target-box {
    border: 1px solid #b98585;
    padding: 10px;
    margin: 10px;
    width: 45%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
 opacity: 75%;
 border-radius: 10px;
  }
  .character-box{
    border: 1px solid #b98585;
    padding: 10px;
    margin: 10px;
    width: 45%; 
    position: absolute;
    bottom: 30%;
    background-color: white;
 opacity: 75%;
 border-radius: 10px;
  }

  .character-info{
    display: flex;
 flex-direction: column;
 align-items: center;
  }
  
  .damage-info-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
  .enemy-message-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
  }
  
.battlecharacter{height: 150px;
width: 150px;}

.battleenemy{height: 150px;
  width: 150px;}

 
  
 
  
  .shake {
    animation: shake 0.5s infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(0); }
    25% { transform: translate(-10px, 10px); }
    50% { transform: translate(10px, -10px); }
    75% { transform: translate(-10px, 10px); }
    100% { transform: translate(10px, -10px); }
  }
  .playerAction{
    position: fixed;
  bottom: 0;
  
  width: 99%;
  background-color: white;
 opacity: 75%;
  text-align: left;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  }
  .centered-element {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .enemy-text-box {
    position: fixed; /* Use a fixed position */
    top: 45%; /* Adjust the top position as needed */
    left: 67%;
    transform: translateX(-50%);
    background-color: white; /* Set a white background color */
    border: 1px solid black; /* Add a border for visibility */
    color: black; /* Change text color to black */
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    animation: fadeIn 1s ease-in-out forwards;
  
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  .bossenemypic{
    right: 10%;
    height: 450px;
    width: 450px;
  }
