playArea{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@font-face {
    font-family: 'Pixel';
    src: url(../assets/Minecraft.ttf) format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}
body{
    font-family: 'Pixel';
}

.playcharacter{
    height: 75px;
    width: 75px;
}
.playcharactername{
    color: white;
}
.pixelated {
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 0; /* Set opacity to 0 initially */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with full transparency */
    }
    to {
      opacity: 1; /* End with full visibility */
    }
  }