#playArea{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@font-face {
    font-family: 'Pixel';
    src: url(../assets/Minecraft.ttf) format('truetype');
    /* font-weight: normal;
    font-style: normal; */
}
body{
    font-family: 'Pixel';
}

.playcharacter{
    height: 75px;
    width: 75px;
}
.playcharactername{
    color: white;
}

